.thumbs {
    display: flex;
    flex-flow: row wrap;
  }
.thumb {
    border: 1px solid black;
    visibility: hidden; /* will be displayed when the tab is selected */
    position: relative; /* to support overlaid text buttons */
}
.thumb img {
    width: 112px;
    height: 96px;
}
#details-title {
    width: 100%;
    text-align: center;
}
#details-content {
    width: 224px;
    height: 192px;
    border: 2px solid black;
}
.details-button {
    position: absolute;
    /* background: #fffa; uncomment to see clickable region */
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: 32px;
    left: 40px;
}
.qa-button {
    position: absolute;
    /* background: #fffa; uncomment to see clickable region */
    color: gray;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.selected {
    color: red;
}
.topleft {
    top: 0px;
    left: 0px;
    padding: 5px 16px 12px 4px; 
}
.btmleft {
    bottom: 0px;
    left: 0px;
    padding: 12px 16px 5px 4px;
}
div#help p {
    margin: 20px 20px 20px 70px;
}
